/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

/* LEFT */
.nav-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-img {
    width: 150px;
}

/* LINKS */
.nav-links {
    margin-left: 30px;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 20px;   /* increased */
}

.nav-links a:hover {
    color: #b08a5b;
}

/* RIGHT SIDE */
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* SEARCH */
.search-box {
    display: flex;
    align-items: center;
    background: #f2f2f2;
    border-radius: 50px; /* FULL ROUND */
    padding: 2px; /* small padding */
}

.search-box input {
    border: none;
    padding: 20px 15px;
    background: transparent;
    outline: none;
    height: 50px; /* match parent */
    width: 220px;
    border-radius: 50px; /* match parent */
}

.search-btn {
    background: #b08a5b;
    border: none;

    width: 50px;   /* FIXED WIDTH */
    height: 50px;  /* FIXED HEIGHT */

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    padding: 0; /* IMPORTANT: remove padding */
}

.search-btn i {
    font-size: 20px; /* increase icon */
    color: white;
}
/* ICONS */
/* ICON WRAPPER */
.icon-wrapper {
    position: relative;
    display: inline-block;
}

/* ICON */
.icon {
    font-size: 26px;
    cursor: pointer;
}

/* BADGE */
.badge {
    position: absolute;
    top: -6px;
    right: -12px;

    background: #b08a5b;
    color: white;
    font-size: 12px;

    padding: 5px 10px;
    border-radius: 50%;
}

.menu {
    font-size: 29px;
    cursor: pointer;
}